<p>Welcome to Richard's Demo.  This web application has basic user and post functionality.  Site graphic design ongoing...  Sign in to view all functionality.</p>
<%= link_to "Sign up", signup_path, :class => 'signup_button' %>
